body {
  position: relative;
  min-height: 100vh;
  background-color: #fffbde;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.myP {
  color: #096b68;
  margin: 0;
  text-align: center;
  direction: ltr;
}

.footer p {
  text-align: center;
  color: #096b68;
}

.footer span {
  color: #096b68;
  font-size: 2rem;
}


