.linkList {
  display: flex;
  gap: 0.1rem;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  justify-content: center;
  direction: ltr;
}

.linkItem {
  /* תסיר width: 100%; */
  max-width: 220px; /* אפשרות להגבלת רוחב */
}

.link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  color: #129990;
  background-color: #fffbde;
  text-align: center;
  direction: rtl;
  transition: all 0.3s ease;
  text-decoration: none;
}

.link:hover {
  color: #096b68;
  transform: translateY(-3px);
  text-decoration: underline;
}
