body {
  position: relative;
  min-height: 100vh;
  background-color: rgb(205, 225, 197);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.myP {
  color: red;
}

.footer p {
  text-align: center;
  color: rgb(201, 58, 58);
}

.footer span {
  color: rgb(201, 58, 58);
  font-size: 2.5rem;
}
